.questionnaire {
  padding-top: 3rem;
}
input::-webkit-input-placeholder {
  color: #111 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #111 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #111 !important;
}

input:-ms-input-placeholder {
  color: #111 !important;
}
.fields {
  justify-content: center;
}

.submit-btn {
  background-color: #e81220 !important;
  color: #fff !important;
  margin-top: 2em !important;
  width: 40%;
  padding: 1em 2em !important;
  border-radius: 0 !important;
}
